.list-category {
    font-size: 2em;
    font-weight: bold;
    color: blueviolet;
    margin-bottom: 10px;
    text-align: center;
    border: solid 3px ;
    border-radius: 5px;
    background-color: aquamarine;
}

.list-items li {
    font-size: 1.5em;
    list-style: none;
    color: hsl(0, 0%, 25%);
    text-align: center;
    margin: 0;
}

.list-items li:hover {
    color: hsl(0, 0%, 45%);
    cursor: pointer;
}