.website-name {
  max-width: 250px;
  color: black;

}

header li a {
  text-decoration: none;
}




.card {
  border: 1px solid rgb(169, 0, 0);
  border-radius: 10px;
  /* first value for the horizontal offset, second for vertical offset, third blur radius*/
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.215);
  /* padding is found between the elements and the border*/
  padding: 10px;
  /* margin is for the space outside of the border */
  margin: 30px;

  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image {
  max-width: 100px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.card .card-title {
  font-family: 'Arial, sans-serif';
  margin: 0px;
  color: black;
}

.card .card-text {
  font-family: 'Arial, sans-serif';
  margin: 0px;
  color: black;
}