input[type=text], input[type=number] {
    width: 75%;
    padding: 7px;
    border: 2px solid green;
    background-color: #3CBC8D;
    color: aliceblue;
    border-radius: 10px;
    margin-top: 15px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input[type=text]:focus, input[type=number]:focus {
    background-color: lightblue;
}


textarea {
    width: 75%;
    padding: 7px;
    border: 2px solid green;
    background-color: #3CBC8D;
    color: aliceblue;
    border-radius: 10px;
    margin-top: 15px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

textarea:focus {
    background-color: lightblue;
}



select {
    width: 75%;
    padding: 7px;
    border: 2px solid green;
    background-color: #3CBC8D;
    color: aliceblue;
    border-radius: 10px;
    margin-top: 15px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

select:focus {
    background-color: lightblue;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}






