input[type=text], input[type=number] {
    width: 75%;
    padding: 15px;
    border: 1px solid white;
    background-color: rgb(155, 155, 155);
    color: white;
    border-radius: 10px;
    margin-top: 15px;
}

input[type=text]:focus, input[type=number]:focus {
    background-color: hsl(195, 43%, 70%);
}


textarea {
    width: 75%;
    padding: 15px;
    border: 1px solid white;
    background-color:  rgb(155, 155, 155);
    color: white;
    border-radius: 10px;
    margin-top: 15px;
}

textarea:focus {
    background-color: hsl(195, 43%, 70%);
}



select {
    width: 75%;
    padding: 15px;
    border: 1px solid white;
    background-color:  rgb(155, 155, 155);
    color: white;
    border-radius: 10px;
    margin-top: 15px;
}

select:focus {
    background-color: hsl(195, 43%, 70%);
}






