.to-do-list {
  text-align: center;
}

.to-do-list h1 {
  font-size: 2.5em;
  background-color: hsl(0, 100%, 72%);
  border-radius: 10px;
}

.to-do-list .entrance {
  display: inline-block;
  background-color: hsl(180, 100%, 76%);
  border-radius: 20px;
  padding: 10px;
}

.to-do-list .entrance input{
  border: 3px solid black;
  border-radius: 10px;
  width: 300px;
  height: 30px;

  padding: 5px;
  font-size: 1.1em;
}

.to-do-list .entrance button{
  border: none;
  border-radius: 5px;
  color: white;
  background-color: hsl(285, 100%, 38%);
  height: 40px;
  width: 100px;
  padding: 10px;
  margin-left: 10px;
  font-size: 1.2em;
}

.to-do-list .entrance button:hover {
  background-color: hsl(285, 100%, 27%);
}

.to-do-list ol li {
  border: none;
  background-color: rgba(247, 247, 247, 0.605);
  border-radius: 10px;

  font-size: 1.6em;
  margin: 20px;
  padding: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.to-do-list ol li:hover {
  background-color:  rgb(215, 255, 245);
}


/* sum of flexes is 5, "text" occupies 3/5 of all "li" row and "button-group" occupies 2/5 of "li" row */
.to-do-list li span {
  flex: 3;

}

.to-do-list .button-group {
  flex: 2;

  display: flex;
  gap: 10px;
}


.to-do-list ol button {
  border: none;
  border-radius: 5px;
  color: black;
  padding: 10px;
  font-weight: bold;
  font-size: 0.6em;
}

.to-do-list .delete-button {
  background-color: red;
}
.to-do-list .delete-button:hover {
  background-color: rgb(225, 0, 0);
}

.to-do-list .up-button {
  background-color: hsl(180, 100%, 81%);
}
.to-do-list .up-button:hover {
  background-color: hsl(180, 96%, 68%);
}

.to-do-list .down-button {
  background-color: hsl(180, 100%, 81%);
}
.to-do-list .down-button:hover {
  background-color: hsl(180, 96%, 68%);
}