.carlist-container button {
    background-color: rgb(36, 154, 193);
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    border: 1px solid  rgb(75, 128, 203);;
    cursor: pointer;
  
    margin: 5px;
}

.carlist-container input[type="text"] {
  color: white;
}